* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  /* position: absolute; */
  width: 100%;
  max-width: 100%;
  /* max-height: 660px; */
  height: 85%;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  /* transform: translateX(-50%) translateY(-50%); */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  /*padding: 13px 0px; */
  /*box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  height: 85px;*/
  height: 9%;
  
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .logo {
  float: left;
  height: 65px;
  width: 10%;
  background: url('../img/logo.jpg');
  background-size: 65px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.top_menu .head {
  float: left;
  text-align: center;
  color: #337ab7;
  width: 80%;
  height: 65px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.top_menu .head .title{
  font-size: 25px;
}
.top_menu .head .tag_line{
  font-size: 15px;
}
.top_menu .help{
  float: right;
  align-items: center;
  text-align: center;
  color: #28a745;
  font-size: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 10%;
  height: 65px; 
  padding: 25px 0; 
}

.top_menu .logout {
  display: inline-block;
  float: right;
}
.hover_bkgr_fricc{
  
  cursor:pointer;
  display:none;
  height:100%;
  
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  border: solid 5px blue;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  
  display: inline-block;
  font-weight: bold;
}
.displaywrapper{
  height: 70%;
}

.score{
  font-size: 2em;
  text-align: right;
  padding: 0 2%;
}
.worddisplay {
  
  text-align: center;
  border: 10px black;
  line-height: 1%;
  font-size: 30;
  font-family: Verdana, sans-serif;
  padding: 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 30%;
  
  
}
.validinvalid{
  
  text-align: center;
  border: 10px black;
  
  font-size: 20px;
  font-family: Verdana, sans-serif;
  padding: 3% 3%;
 /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/
  
}
.validinvalid_words{ 
  display: inline-block;
  border: 1px black;
  border-style: solid;
  height: 40%;
  max-height: 40%;
  width: 40%;
  text-align: center;
  border-radius: 6px;
  overflow-y: auto;
  
}

.validinvalid_list{
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin:0;
  text-align: left;
}
.buttondisplay{
  display: inline;
}

.wordbutton{
  background-color: white;
  
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
}

.scrambledword {
  text-align: center;
  font-size: 20px ;
}
.circText{
  background-color: rgb(245, 245, 237);
}


.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 100%;
  overflow: scroll;
  font-size: 20px;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  float: left;
  height: 40px;
  width: 40px;
  background: url('../img/bot.jpg');
  background-size: 40px;
}
.messages .message.left .text_wrapper {
  background-color: #f3eeca;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #f3eeca;
}
.messages .message.left .text {
  /* color: #c48843; */
}
.messages .message.left .timestamp {
    color: #b0742f;
    text-align: right;
    font-size: 10px;
    font-weight: 300;
}
.messages .message.push .avatar {
  float: left;
  height: 40px;
  width: 40px;
  background: url('../img/bot.jpg');
  background-size: 40px;
}
.messages .message.push .text_wrapper {
  background-color: #4a9b87;
  margin-left: 20px;
}
.messages .message.push .text_wrapper::after, .messages .message.push .text_wrapper::before {
  right: 100%;
  border-right-color: #4a9b87;
}
.messages .message.push .text {
  color: #ffffff;
}
.messages .message.push .timestamp {
    color: #ffffff;
    text-align: right;
    font-size: 10px;
    font-weight: 300;
}
.messages .message.right .m_avatar {
  float: right;
  height: 40px;
  width: 40px;
  background: url('../img/guy.jpg');
  background-size: 40px;
}
.messages .message.right .f_avatar {
  float: right;
  height: 40px;
  width: 40px;
  background: url('../img/woman.jpg');
  background-size: 40px;
}

.messages .message.right .text_wrapper {
  background-color: #b0d4f3;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #b0d4f3;
}
.messages .message.right .text {
  /* color: #45829b; */
}
.messages .message.right .timestamp {
    color: #1A5770;
    text-align: right;
    font-size: 10px;
    font-weight: 300;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  /*font-size: 12px;*/
  /*font-weight: 300;*/
}

.bottom_wrapper {
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 3% 15%;
  /*position: absolute;*/
  bottom: 0;
  }
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  align-items: center;
  text-align: center;
  height: calc(100% - 93%);
  border-radius: 25px; 
  border: 1px solid #bcbdc0;
  width: 100%;
  position: relative;
  padding: 10 60px;
}
.bottom_wrapper .message_input_wrapper .word_entered {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 100px);
  position: absolute;
  outline-width: 0;
  color: gray;
  font-size: 30px; 
}
.bottom_wrapper .send_message {
  width: 110px;
  height: calc(100% - 93%);
  display: inline-block;
  /* border-radius: 50px;
  background-color: #ffffff;
  border: 2px solid #a3d063;
  color: #fff; */
  cursor: pointer;
  /* transition: all 0.2s linear; */
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  /* color: #dddddd;
  background-color: #dddddd; */
}

.control_buttons {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #fff;
  padding: 10px 0;
  /*position: absolute;*/
  bottom: 0;
  display: flex;
  justify-content: space-between;


}
.control_buttons .command_button{
  width: 110px;
  height: 50px;
  display: inline-block;
  /* border-radius: 50px;
  background-color: #ffffff;
  border: 2px solid #a3d063;
  color: #fff; */
  cursor: pointer;
  /* transition: all 0.2s linear; */
  text-align: center;
  float: left;

}
.btn-success {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 50%;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  width: 95%;
  height: 100%;
}

.btn-success:hover {
  color: #FFF;
  background: #dddddd ;
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

.custom-button-width {
  width:150px;
}
.custom-input-width {
  width:150px;
    margin-right:3px;
}


@media (max-width: 500px) {
label{
	position : relative;
}
label>span{
	position : absolute;
	left : 2px;
}
input{
	position : relative;
	background : none;
}
}
#curved1 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 400px;
}

#curved2 {
  position: absolute;
  
  
}
@media only screen and (max-width: 600px) {
  div.scrambledword {
    display: none;
  }

  div.logo{
    width: 15%;
  }
  div.head{
    width: 70%;

  }
  div.help{
    width: 15%;
  }
}

